*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.navbar
{
    position: fixed;
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    transition: background-color 0.3s;
    z-index: 1000;
}
.navbar.scrolled
{
    background-color: #333;
}
.logo
{
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    color: white;
    font-weight: 500;
    transition:color 0.3s;
}
.nav-links li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}
.nav-links li a:hover{
    color: #f39c12;
}
.hero
{
    height: 100vh;
    background: linear-gradient(to right,#6a11cb,#2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero-content h2{
    font-size: 48px;
    margin-bottom:20px;
}
.content
{
    padding: 100px 10%;
    background-color: #f4f4f4;
}